<!-- Single update view -->
<div class="row update-item ui-list-item">
    <div class="col-md-3 col-sm-4 col-xs-4 name">
        <div class="name">
            <strong>{{update.username}}</strong>
        </div>
        <div class="id">
            id: <span>{{update.message.chat.id}}</span>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-8 text">
        <div>{{update.message.text}}</div>
        <div class="sub">
            date: <span>{{update.date}}</span>
        </div>
    </div>
</div>